<template>
    <div class="chevron" :class="classList">
        <div class="one"></div>
        <div class="two"></div>
    </div>
</template>

<script>
export default {
  props: {
    open: Boolean,
    hover: Boolean
  },

  computed: {
    classList () {
      return {
        open: this.open,
        hover: this.hover
      }
    }
  }
}
</script>

<style lang="less" scoped>
@import (reference) "../assets/config";

.chevron {
    display: inline-flex;
    position: relative;
    margin: 0 auto;

    .one, .two {
        content: ' ';
        position: absolute;
        left: 0;
        height: 25px;
        width: 3px;
        background: @bg-grey-contrast;
    }

    .one {
        animation: open-left @animation-timing forwards;
    }

    .two {
        animation: open-right @animation-timing forwards;
    }

    &.open {
        .one {
            animation: spin-left @animation-timing forwards;
        }

        .two {
            animation: spin-right @animation-timing forwards;
        }
    }

    &.hover {
        .one {
            animation: peek-open-left @animation-timing forwards;
        }

        .two {
            animation: peek-open-right @animation-timing forwards;
        }
    }
}

@keyframes open-left {
    from {
        transform: rotate(-135deg);
    }
    to {
        transform: rotate(-45deg);
        left: 0;
    }
}

@keyframes open-right {
    from {
        transform: rotate(135deg);
    }
    to {
        transform: rotate(45deg);
        left: 0;
    }
}



@keyframes peek-open-left {
    from {
        transform: rotate(-135deg);
    }
    to {
        transform: rotate(90deg);
        left: -5px;
    }
}

@keyframes peek-open-right {
    from {
        transform: rotate(135deg);
    }
    to {
        transform: rotate(-90deg);
        left: 5px;
    }
}

@keyframes spin-left {
    to {
        transform: rotate(-135deg);
        left: 8px;
    }
}

@keyframes spin-right {
    to {
        transform: rotate(135deg);
        left: -8px;
    }
}
</style>
