<template>
    <section
        class="ui vertical stripe work segment"
        @click="open"
        @mouseover.self="onMouseOver"
        @mouseleave.self="onMouseLeave"
    >
        <div class="ui middle aligned stackable grid container">
            <div class="two column row">
                <div class="center aligned column">
                    <img :src="client.image" class="ui centered image" />
                </div>
                <div class="column">
                    <div class="ui header">
                        {{ client.name }}
                        <div class="ui sub header">{{ client.position }}</div>
                        <div class="sub header">{{ client.length }}</div>
                    </div>
                    <div class="text" v-html="client.markup"></div>
                </div>
            </div>
            <div class="one column row" v-if="client.images.length">
                <div class="center aligned column">
                    <chevron :open="!show" :hover="hover && !show"></chevron>
                </div>
            </div>
        </div>
        <div class="images" :class="isOpen" v-if="client.images.length">
            <mouse clicks :clicking="hover"></mouse>

            <div class="ui fluid container">
                <div class="ui center aligned equal width stretched stackable grid" v-if="client.images.length">
                    <div class="column" v-for="image in client.images">
                        <a :href="image" class="ui image" target="_blank" title="view full size">
                            <img :src="image" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
import Mouse from './Mouse'
import Chevron from './Chevron'

export default {
  name: 'client',
  props: {
    client: Object
  },
  methods: {
    open () {
      this.show = !this.show;
    },

    onMouseOver (event) {
      this.hover = true;
      this.timer = setTimeout(this.bounceCheck, 2500)
    },

    onMouseLeave () {
      this.hover = false;
      this.peek = false;
      clearTimeout(this.timer);
    },

    bounceCheck () {
      this.peek = true;
    }
  },
  computed: {
    isOpen () {
      return this.show ? 'open' : '';
    }
  },
  data () {
    return {
      hover: false,
      timer: null,
      peek: false,
      show: false
    }
  },
  components: {
    Chevron,
    Mouse
  }
}
</script>

<style lang="less">
@import (reference) "../assets/config";

.work.segment {
    -webkit-transition: box-shadow 250ms;
    -moz-transition:    box-shadow 250ms;
    -ms-transition:     box-shadow 250ms;
    -o-transition:      box-shadow 250ms;
    transition:         box-shadow 250ms;

    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select:    none;
    -ms-user-select:     none;
    user-select:         none;

    .ui.header {
        font-size: 2em;

        .sub.header {
            font-size: .75em;
            padding: 0.5em 0 0;
        }
    }

    .logo {
        opacity: .4;
        transition: opacity 0.2s ease;
    }

    /* client images */
    .images {
        position: relative;
        cursor: auto;
        height: 0;
        overflow: hidden;
        background: darken(#fff, 2.5%);
        margin-top: 5em;
        margin-bottom: -5em;
        transition: height 5s;

        .mouse {
            opacity: 0;
            z-index: 2;
        }

        &:not(.open) {
            cursor: pointer;

            &::before {
                content: ' ';
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                background: rgba(0, 0, 0, 0.3);
                z-index: 2;
                box-shadow: inset 0px -5px 5px -5px rgba(0, 0, 0, 0.5);
            }

            &::after {
                content: '';
                position: absolute;
                top: 0;
                height: 5px;
                width: 100%;
                left: -100%;
                background: @stripe;
            }

            .mouse {
                opacity: 1;
                left: ~"calc(50% - (30px - 15px))";
                top: 5em;
            }
        }

        .container {
            padding: 2rem;
        }

        .ui.image {
            img {
                box-shadow: 0 0 15px 0 darken(#fff, 15%);
            }
        }

        &.open {
            height: 100%;
        }
    }

    /* psuedo selectors */
    &:nth-child(even) {
        background: #fff;
    }

    &:nth-child(odd) {
        background: #F2F3F5;
    }



    /* actions/modifiers */
    &:hover {
        .logo {
            opacity: 1;
        }

        .chevron.open {

        }

        .images:not(.open) {
            animation: peek @animation-timing 0s forwards;


            &::after {
                -webkit-animation: glide 1s ease-in-out;
            }
        }
    }

}

@keyframes peek {
    0% { height: 0; }

    80% { height: 210px; }
    85% { height:205px; }
    90% { height: 210px; }
    95% { height: 205px; }
    100% { height: 210px; }
}
</style>
