<template>
    <div class="mouse" :class="classList"></div>
</template>

<script>
export default {
  props: {
    inverted: Boolean,
    parallax: Boolean,
    clicks: Boolean,
    scrolls: Boolean,

    scrolling: Boolean,
    clicking: Boolean
  },

  computed: {
    classList () {
      return {
        inverted: this.inverted,
        parallax: this.parallax,
        clickable: this.clicks,
        scrollable: this.scrolls,

        // states
        scrolling: this.scrolling,
        clicking: this.clicking
      }
    }
  }
}
</script>

<style lang="less" scoped>
@import (reference) "../assets/config";

@mouse-color: rgba(255, 255, 255, 0.87);
@mouse-color-inverted: @bg-grey-contrast;

/*
 * Singe Element Mouse
 *
 * the div is the body, ::after is the interaction
 */
.mouse {
    border:        2px solid @mouse-color;
    height:        50px;
    width:         30px;
    border-radius: 25px;

    position: absolute;

    &::after {
        content:       ' ';
        position:      absolute;
        background:    @mouse-color;
    }

    /* variations */
    &.scrollable {
        &::after {
            height:        5px;
            width:         2px;
            border-radius: 25px;
            top:           5px;
            left:          12px;
        }
    }

    &.clickable {
        &::after {
            opacity: 0;
            height: 5px;
            width: 5px;
            border-radius: 50%;
            left: 7px;
            top: 7px;
        }
    }

    /* colors */
    &.inverted {
        border-color: @mouse-color-inverted;

        &::after {
            background: @mouse-color-inverted;
        }
    }

    /* animations */
    &.pulse {
        animation: help 3s 0s 1 linear;
    }

    &.scrollable.scrolling {
        &::after {
            animation: scrolling 4s 0s linear infinite;
        }
    }

    &.clickable.clicking {
        &::after {
            animation: click 250ms @animation-delay 2 linear;
        }
    }
}

@keyframes scrolling {
    0%, 20%, 40%, 60% { top: 5px; }
    10%, 30%, 50% { top: 15px; }
}

@keyframes click {
    to {
        transform: scale(3, 3);
        opacity: 1;
    }
}
</style>
