@keyframes background-glide {
  0% {background-position: 0 10%}
  50% {background-position:100% 91%}
  100% {background-position:0 10%}
}

@keyframes help {
  from, 70%, 80%, 90% { opacity:0; }
  to, 75%, 85%, 95% { opacity: 1; }
}

@keyframes glide {
  to { left: 0; }
  to { left: 100%; }
}
