/*
 * http://materialuicolors.co
 *
 * #ECEFF1 [blue grey 50]
 * #BDBDBD [grey 400]
 * #212121 [grey 900]
 */


@text-white: #FFF;

@bg-grey: #ECEFF1;
@bg-grey-contrast: #BDBDBD;
@bg-grey-inverted: #212121;

@stripe: -webkit-linear-gradient(0deg, #2EADF2 0, #CD5FD7 100%);

@animation-timing: 500ms;
@animation-delay: 500ms;
