<template>
    <div id="portfolio">
        <div class="pusher">
            <div class="full height">

                <div
                    class="ui inverted hello segment"
                    @mouseover.self="hover = true"
                    @mouseleave.self="hover = false"
                >
                    <header class="ui two column grid container" id="navigation">
                        <div class="left aligned column">
                            <h1 class="ui inverted header">Devon Hazelett</h1>
                        </div>
                        <div class="right aligned column">
                            <a href="/blog" class="ui inverted header">Blog</a>
                        </div>
                    </header>

                    <header class="ui centered container" id="hello">
                        <div class="ui inverted center aligned header parallax">
                            Software Engineer . UI/UX Designer
                            <div class="sub header">I make things beatuiful, fast, and usable</div>
                        </div>

                        <transition appear appear-to-class="pulse">
                            <mouse parallax scrolls :scrolling="hover"></mouse>
                        </transition>
                    </header>
                </div>

                <client v-if="clients" v-for="client in clients" :client="client"></client>

            </div>
            <div class="ui inverted vertical footer segment">
                <div class="ui center aligned container">
                    <p>&copy; Devon Hazelett</p>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { mapGetters } from 'vuex'

import Mouse from './components/Mouse'
import Client from './components/Client'
import Rellax from 'rellax'

export default {
  name: 'portfolio',
  components: {
    Client,
    Mouse
  },

  computed: {
    ...mapGetters({
      clients: 'client/all'
    })
  },

  data () {
    return {
      hover: false
    }
  },

  created () {
    this.$store.dispatch('client/all')
  },

  mounted () {
    Rellax('.parallax', { speed: -4 })
  }
}
</script>

<style lang="less">
@import "assets/semantic/dist/semantic.min.css";
@import (reference) "assets/config";
@import "assets/animations";

body {
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
}

.ui.header {
    font-family: 'Quicksand', sans-serif;
}

.ui.segment {
    font-size: 1em;
}

#portfolio {
    > .pusher {
        display: block;
        min-height: 0;
        flex-direction: initial;

        > .full.height {
            display: block;
            flex: none !important;
        }

        > .footer {
            padding-left: 0;
        }
    }

    .hello.segment {
        background: @stripe;
        background-size: 200% 200%;
        animation: background-glide 7.5s ease infinite;

        position: relative;
        min-height: 250px;
        color: #fff;
        padding: 0 0 100px;
        margin-bottom: 0;
        font-size: 2em;
        overflow: hidden;
        border-radius: 0;

        &:after {
            content:         '';
            display:         block;
            position:        absolute;
            left:            -100px;
            right:           -100px;
            bottom:          0;
            height:          300px;
            background:      data-uri("../static/images/waves.svg") center bottom / cover repeat-x;
            animation:       background-glide 90s linear infinite;
        }

        .ui.header {
            text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.25);
            font-size: 2em;

            .sub.header {
                color: rgba(255, 255, 255, 0.95);
                font-size: .75em;
            }
        }

        #navigation {
            .ui.header {
                display: inline-block;
                font-size: 1em;
                text-transform: uppercase;
                line-height: 1.2;
                padding: 1em 1em 0;
            }
        }

        #hello {
            padding: 15rem 0;
            height: 55vh;
            margin-left: auto !important;
            margin-right: auto !important;
            min-height: 600px;

            -webkit-box-align: center;
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
            -ms-flex-pack: center;
            justify-content: center;
        }

        .mouse {
            bottom: 150px;
        }
    }

    .stripe.segment {
        padding: 5em 0;
        border-radius: 0;
        border-bottom: none;

        @media only screen and (max-width: 767px) {
            padding: 2em;
        }
    }
}
</style>
